body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Loader*/

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .Landing-Photo{
    background-image: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    width: 100%;
    background-position:center bottom;
  }

  .Nav-Bar {
    display: flex;
    flex-flow: row wrap;
  }

  .Logo {
    
    width: auto;
    height:150px;
  }

  .About {
    background-color:rgba(255, 255, 255, 0.5);
    width: 800px;
    height:550px;
  }
}

